@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

h1 {
  font-family: 'Castoro Titling', cursive; }

h2 {
  font-family: 'Cardo', serif; }

p {
  font-family: 'DM Sans', sans-serif; }

/* Variables */
/* Mixins */
footer {
  background-color: #222222;
  padding: 10px 0;
  color: #ffffff;
  text-align: center; }
  footer .footer-container {
    max-width: 1200px;
    margin: 0 auto; }
    footer .footer-container .social-media {
      margin-bottom: 20px; }
      footer .footer-container .social-media a {
        display: inline-block;
        margin: 0 10px; }
        footer .footer-container .social-media a img {
          height: 35px;
          width: 35px;
          filter: invert(100%);
          transition: transform 0.3s ease; }
          footer .footer-container .social-media a img:hover {
            transform: scale(1.2); }
    footer .footer-container .footer-line {
      border: none;
      border-top: 1px solid #666666;
      margin: 10px 0; }
    footer .footer-container .footer-text h3 {
      display: inline-block;
      font-family: 'Castoro Titling', cursive;
      font-size: 24px;
      margin-bottom: 10px;
      transition: 0.3s ease; }
      footer .footer-container .footer-text h3:hover {
        color: #ff00ff;
        cursor: pointer; }
    footer .footer-container .footer-text p {
      font-family: 'Cardo', serif;
      font-size: 14px;
      margin-bottom: 5px; }

header nav {
  background-color: #7F7E73;
  padding: 1rem; }
  header nav div a .logo {
    height: 5rem;
    padding-left: 1rem; }
    header nav div a .logo:hover {
      filter: invert(100%); }
  header nav div a .shoppingcart {
    height: 2.3rem;
    padding-right: 1rem; }
    header nav div a .shoppingcart:hover {
      filter: invert(100%); }
  header nav div div ul li a {
    color: #000000;
    padding: 0.8rem;
    margin-right: 1.2rem;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Cardo', serif; }
    header nav div div ul li a:hover {
      color: #fff; }
  header nav div div ul li .shopping_menu {
    height: 2rem;
    padding-right: 1rem; }
    header nav div div ul li .shopping_menu:hover {
      filter: invert(100%); }

/*Pagina principal*/
body {
  overflow-x: hidden; }

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/fondo.jpg) no-repeat center;
  background-size: cover; }
  .filter #filter__blur {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .filter #filter__blur h1 {
      text-align: center;
      font-size: 5rem;
      color: #000000; }

.men {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #ffffff; }
  .men a img {
    width: 100%;
    height: 100vh;
    transition: 0.5s; }
    .men a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      filter: brightness(95%); }
  .men .men__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .men .men__content h2 {
      font-size: 2.4rem; }
    .men .men__content p {
      font-size: 1.3rem; }
    .men .men__content a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #C7863E;
      background-color: #000000;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin-top: 20px;
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .men .men__content a:hover {
        background-color: #C7863E;
        color: #ffffff; }
        .men .men__content a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }

.women {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #ffffff; }
  .women a img {
    width: 100%;
    height: 100vh;
    transition: filter 0.5s; }
    .women a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      filter: brightness(95%); }
  .women .women__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .women .women__content h2 {
      font-size: 2.4rem; }
    .women .women__content p {
      font-size: 1.3rem; }
    .women .women__content a {
      font-size: 1.6rem;
      color: #2E744B;
      background-color: #000000;
      margin-top: 20px;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .women .women__content a:hover {
        background-color: #2E744B;
        color: #fff; }
        .women .women__content a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }

.accesorios {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #fff; }
  .accesorios .accesorios__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .accesorios .accesorios__content h2 {
      font-size: 2.4rem; }
    .accesorios .accesorios__content p {
      font-size: 1.3rem; }
    .accesorios .accesorios__content a {
      font-size: 1.6rem;
      color: #D8AEB9;
      background-color: #000000;
      margin-top: 20px;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .accesorios .accesorios__content a:hover {
        background-color: #D8AEB9;
        color: #fff; }
        .accesorios .accesorios__content a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }
  .accesorios a img {
    width: 100%;
    height: 100vh;
    transition: 0.5s; }
    .accesorios a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      filter: brightness(95%); }

.prendas {
  display: flex;
  height: 100vh; }
  .prendas .prendas__foto {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .prendas .prendas__foto img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter 0.1s; }
      .prendas .prendas__foto img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        filter: contrast(117%); }

/*Segundo apartado: Login*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat center url(../img/inicio.jpg);
  background-size: cover; }
  .login .login__container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    width: 50rem;
    height: 26rem; }
    .login .login__container div .login__title {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-align: center;
      padding-top: 3rem;
      color: #ffffff; }
    .login .login__container div .login__form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .login .login__container div .login__form label {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        color: #ffffff; }
      .login .login__container div .login__form input {
        padding: 0.6rem;
        height: 2rem;
        width: 30rem;
        margin-bottom: 1rem;
        border: 0.1rem solid #f8f8f8;
        border-radius: 5px;
        background-color: #f8f8f8; }
      .login .login__container div .login__form button {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 0.3rem;
        background-color: #8bc34a;
        color: #f2e8d9;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer; }
        .login .login__container div .login__form button:hover {
          background-color: #689f38;
          color: #000000; }
      .login .login__container div .login__form a {
        color: #fff;
        margin: 0.2rem; }
        .login .login__container div .login__form a:hover {
          color: #388e3c; }

/*Tercer apartado: Acerca de nosotros*/
.about-us {
  background-color: #F8F8F8;
  padding: 60px 0;
  text-align: center; }
  .about-us .about-us__container {
    max-width: 960px;
    margin: 0 auto; }
    .about-us .about-us__container .about-us__title {
      font-size: 2.8rem;
      margin-bottom: 30px;
      color: #000000; }
    .about-us .about-us__container .about-us__description {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #555555; }

/*Cuarto apartado: Productos*/
.productos {
  padding: 40px 20px;
  background-color: #bdaa93; }
  .productos .productos__title {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center; }
  .productos .productos__galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem; }
  .productos .productos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 2px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .productos .productos__item .productos__item-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      color: #333;
      font-family: 'DM Sans', sans-serif;
      text-align: center; }
      .productos .productos__item .productos__item-details img {
        width: auto;
        max-width: 100%;
        max-height: 300px;
        height: auto; }
      .productos .productos__item .productos__item-details h3 {
        font-size: 20px;
        margin-bottom: 10px; }
      .productos .productos__item .productos__item-details p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #c87d5d; }
      .productos .productos__item .productos__item-details .link {
        background-color: #c87d5d;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        transition: 1s; }
        .productos .productos__item .productos__item-details .link:hover {
          transform: scale(1.1);
          background-color: #a5694f;
          color: #fff; }

/*Quinto apartado: Contacto*/
.contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdaa93;
  padding: 10px; }
  .contactos .contactos__form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 41rem; }
    .contactos .contactos__form .contactos__title {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px; }
    .contactos .contactos__form .contactos__subtitle {
      font-size: 24px;
      margin-bottom: 20px; }
    .contactos .contactos__form .contactos__form__input label {
      display: block;
      margin-bottom: 10px; }
    .contactos .contactos__form .contactos__form__input input {
      display: block;
      width: 40rem;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #444;
      resize: none; }
    .contactos .contactos__form .contactos__form__input textarea {
      display: block;
      width: 40rem;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #444;
      resize: none; }
    .contactos .contactos__form .contactos__form__input button {
      background-color: #c87d5d;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer; }
      .contactos .contactos__form .contactos__form__input button:hover {
        background-color: #a5694f; }

/*Pago*/
.pago {
  padding: 10px;
  background-color: #bdaa93; }
  .pago .container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .pago .container .pago__title {
      text-align: center; }
    .pago .container .pago__subtitle {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px; }
    .pago .container .pago__payment-images {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px; }
      .pago .container .pago__payment-images img {
        width: 150px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease; }
        .pago .container .pago__payment-images img:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }
    .pago .container .pago__payment-form {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .pago .container .pago__payment-form label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc; }
      .pago .container .pago__payment-form input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc; }
      .pago .container .pago__payment-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer; }
        .pago .container .pago__payment-form input[type="submit"]:hover {
          background-color: #45a049; }

/*register*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdaa93; }

.registro {
  width: 100%;
  max-width: 500px;
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .registro .registro__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; }
  .registro .registro__form {
    display: flex;
    flex-direction: column; }
    .registro .registro__form .registro__form-group {
      margin-bottom: 20px; }
    .registro .registro__form label {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
      color: #555; }
    .registro .registro__form input {
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px; }
    .registro .registro__form input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      padding: 14px 24px;
      font-size: 20px; }
      .registro .registro__form input[type="submit"]:hover {
        background-color: #45a049; }

@media screen and (max-width: 768px) {
  /*Titulo */
  .filter #filter__blur h1 {
    font-size: 18vw; }
  /*Secciones */
  .men {
    grid-template-columns: 100%;
    height: auto; }
    .men .men__content {
      order: 2;
      padding-top: 5px;
      width: 100%;
      height: auto;
      margin: 25px 0px 25px 0px; }
      .men .men__content a {
        order: 1; }
    .men a img {
      width: 100%;
      height: auto; }
  .women {
    grid-template-columns: 100%;
    height: auto; }
    .women a img {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
    .women .women__content {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
  .accesorios {
    grid-template-columns: 100%;
    height: auto; }
    .accesorios .accesorios__content {
      order: 2;
      margin: 25px 0px 50px 0px;
      width: 100%;
      height: auto; }
      .accesorios .accesorios__content a {
        order: 1; }
    .accesorios a img {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
  .prendas {
    flex-direction: column;
    height: auto; }
    .prendas .prendas__foto {
      width: 100%;
      height: auto; }
      .prendas .prendas__foto img {
        height: auto;
        width: 100%; }
  /*About us*/
  .about-us .about-us__container .about-us__title {
    font-size: 2.2rem;
    margin-bottom: 20px; }
  .about-us .about-us__container .about-us__description {
    font-size: 1.4rem;
    margin: 20px; }
  /*Galeria de fotos*/
  .productos .productos__title {
    font-size: 1.8rem; }
  .productos .productos__galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
    .productos .productos__galeria .productos__item-details {
      padding: 10px; }
      .productos .productos__galeria .productos__item-details h3 {
        font-size: 18px; }
      .productos .productos__galeria .productos__item-details p {
        font-size: 16px; }
      .productos .productos__galeria .productos__item-details .link {
        font-size: 14px; }
  /*Contactos*/
  .contactos .contactos__form {
    width: 90%; }
    .contactos .contactos__form .contactos__form__input {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contactos .contactos__form .contactos__form__input label {
        margin-bottom: 0.5rem; }
      .contactos .contactos__form .contactos__form__input input {
        width: 100%; }
      .contactos .contactos__form .contactos__form__input textarea {
        width: 100%; }
      .contactos .contactos__form .contactos__form__input button {
        width: 100%; }
  /*login*/
  .login {
    align-items: center;
    padding: 2rem;
    height: auto;
    background: no-repeat center url(../img/inicio.jpg);
    background-size: cover; }
    .login .login__container {
      width: 100%;
      height: auto;
      margin-top: 2rem; }
      .login .login__container div .login__title {
        font-size: 2.5rem;
        padding-top: 1.5rem; }
      .login .login__container div .login__form {
        width: 100%; }
        .login .login__container div .login__form label {
          font-size: 1.2rem; }
        .login .login__container div .login__form input {
          width: 90%;
          max-width: 100%;
          margin: 0px 2px 1rem 2px; }
  /*register*/
  .registro {
    width: 80vw;
    margin: 10px auto; }
  /*pago*/
  .pago .container {
    padding: 10px; }
    .pago .container .pago__subtitle {
      font-size: 20px; }
    .pago .container .pago__payment-images {
      flex-wrap: wrap;
      justify-content: center; }
      .pago .container .pago__payment-images img {
        width: 120px;
        margin: 10px; }
    .pago .container .pago__payment-form label {
      font-size: 14px; }
    .pago .container .pago__payment-form input {
      font-size: 14px; }
    .pago .container .pago__payment-form input[type="submit"] {
      font-size: 16px; }
  footer .footer-container .social-media a {
    margin: 5px; }
  footer .footer-container .footer-text h3 {
    font-size: 20px; }
  footer .footer-container .footer-text p {
    font-size: 12px; } }
