@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

h1 {
  font-family: 'Castoro Titling', cursive; }

h2 {
  font-family: 'Cardo', serif; }

p {
  font-family: 'DM Sans', sans-serif; }

/* Variables */
/* Mixins */
footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer div a {
      color: #fff;
      margin-right: 20px; }
      footer div a:hover {
        color: #4e4e4e; }

header nav {
  background-color: #7F7E73;
  padding: 1rem; }
  header nav div a .logo {
    height: 5rem;
    padding-left: 1rem; }
    header nav div a .logo:hover {
      filter: invert(100%); }
  header nav div a .shoppingcart {
    height: 2.3rem;
    padding-right: 1rem; }
    header nav div a .shoppingcart:hover {
      filter: invert(100%); }
  header nav div div ul li a {
    color: #000000;
    padding: 0.8rem;
    margin-right: 1.2rem;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Cardo', serif; }
    header nav div div ul li a:hover {
      color: #fff; }
  header nav div div ul li .shopping_menu {
    height: 2rem;
    padding-right: 1rem; }
    header nav div div ul li .shopping_menu:hover {
      filter: invert(100%); }

/*Pagina principal*/
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/fondo.jpg) no-repeat center;
  background-size: cover; }
  .filter #blur {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .filter #blur h1 {
      text-align: center;
      font-size: 5rem;
      color: #000000; }

.men {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #ffffff; }
  .men a img {
    width: 100%;
    height: 100vh;
    transition: 1s; }
    .men a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .men div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .men div h2 {
      font-size: 2.4rem; }
    .men div p {
      font-size: 1.3rem; }
    .men div a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #C7863E;
      background-color: #000000;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin-top: 20px;
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .men div a:hover {
        background-color: #C7863E;
        color: #ffffff; }
        .men div a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }

.women {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #ffffff; }
  .women a img {
    width: 100%;
    height: 100vh;
    transition: 1s; }
    .women a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .women div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .women div h2 {
      font-size: 2.4rem; }
    .women div p {
      font-size: 1.3rem; }
    .women div a {
      font-size: 1.6rem;
      color: #2E744B;
      background-color: #000000;
      margin-top: 20px;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .women div a:hover {
        background-color: #2E744B;
        color: #fff; }
        .women div a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }

.accesorios {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: #fff; }
  .accesorios div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .accesorios div h2 {
      font-size: 2.4rem; }
    .accesorios div p {
      font-size: 1.3rem; }
    .accesorios div a {
      font-size: 1.6rem;
      color: #D8AEB9;
      background-color: #000000;
      margin-top: 20px;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: 'DM Sans', sans-serif;
      transition: 0.5s; }
      .accesorios div a:hover {
        background-color: #D8AEB9;
        color: #fff; }
        .accesorios div a:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }
  .accesorios a img {
    width: 100%;
    height: 100vh;
    transition: 1s; }
    .accesorios a img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.prendas {
  display: flex;
  height: 100vh;
  background-color: #e6d4b4; }
  .prendas .prendas__foto {
    width: 33.33%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .prendas .prendas__foto img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s; }
      .prendas .prendas__foto img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*Segundo apartado: Login*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat center url(../img/inicio.jpg);
  background-size: cover; }
  .login .login__ {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    width: 50rem;
    height: 26rem; }
    .login .login__ div h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-align: center;
      padding-top: 3rem;
      color: #ffffff; }
    .login .login__ div div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .login .login__ div div label {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        color: #ffffff; }
      .login .login__ div div input {
        padding: 0.6rem;
        height: 2rem;
        width: 30rem;
        margin-bottom: 1rem;
        border: 0.1rem solid #f8f8f8;
        border-radius: 5px;
        background-color: #f8f8f8; }
      .login .login__ div div button {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 0.3rem;
        background-color: #8bc34a;
        color: #f2e8d9;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer; }
        .login .login__ div div button:hover {
          background-color: #689f38;
          color: #000000; }
      .login .login__ div div a {
        color: #fff;
        margin: 0.2rem; }
        .login .login__ div div a:hover {
          color: #388e3c; }

/*Tercer apartado: Acerca de nosotros*/
.about__us {
  background-color: #F8F8F8;
  padding: 60px 0;
  text-align: center; }
  .about__us .about__us__container {
    max-width: 960px;
    margin: 0 auto; }
    .about__us .about__us__container h1 {
      font-size: 2.8rem;
      margin-bottom: 30px;
      color: #000000; }
    .about__us .about__us__container p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #555555; }

/*Cuarto apartado: Productos*/
.productos {
  padding: 40px 20px;
  background-color: #bdaa93; }
  .productos h1 {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center; }
  .productos .galeria {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: 2rem; }
  .productos .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 2px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .productos .item img {
      width: 100%;
      max-width: 200px;
      height: auto; }
    .productos .item h3 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333;
      font-family: 'DM Sans', sans-serif; }
    .productos .item p {
      font-size: 18px;
      margin-bottom: 20px;
      color: #c87d5d; }
    .productos .item .link {
      background-color: #c87d5d;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      transition: 1s; }
      .productos .item .link:hover {
        transform: scale(1.1);
        background-color: #a5694f;
        color: #fff; }

/*Quinto apartado: Contacto*/
.contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdaa93;
  padding: 10px; }
  .contactos .contactos__ {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 41rem; }
    .contactos .contactos__ h1 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px; }
    .contactos .contactos__ h2 {
      font-size: 24px;
      margin-bottom: 20px; }
    .contactos .contactos__ form label {
      display: block;
      margin-bottom: 10px; }
    .contactos .contactos__ form input {
      display: block;
      width: 40rem;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #444;
      resize: none; }
    .contactos .contactos__ form textarea {
      display: block;
      width: 40rem;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1rem;
      color: #444;
      resize: none; }
    .contactos .contactos__ form button {
      background-color: #c87d5d;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer; }
      .contactos .contactos__ form button:hover {
        background-color: #a5694f; }

/*Pago*/
.pago {
  padding: 10px;
  background-color: #bdaa93; }
  .pago .container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .pago .container h1 {
      text-align: center; }
    .pago .container h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px; }
    .pago .container .payment-images {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px; }
      .pago .container .payment-images img {
        width: 150px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease; }
        .pago .container .payment-images img:hover:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1); }
    .pago .container .payment-form {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .pago .container .payment-form label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc; }
      .pago .container .payment-form input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc; }
      .pago .container .payment-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer; }
        .pago .container .payment-form input[type="submit"]:hover {
          background-color: #45a049; }

/*register*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdaa93; }

.registro {
  width: 100%;
  max-width: 500px;
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .registro h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; }
  .registro form {
    display: flex;
    flex-direction: column; }
    .registro form .form-group {
      margin-bottom: 20px; }
    .registro form label {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
      color: #555; }
    .registro form input {
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px; }
    .registro form input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      padding: 14px 24px;
      font-size: 20px; }
      .registro form input[type="submit"]:hover {
        background-color: #45a049; }

@media screen and (max-width: 768px) {
  /*Titulo */
  .filter #blur h1 {
    font-size: 18vw; }
  /*Secciones */
  .men {
    grid-template-columns: 100%;
    height: auto; }
    .men div {
      order: 2;
      padding-top: 5px;
      width: 100%;
      height: auto;
      margin: 25px 0px 25px 0px; }
      .men div a {
        order: 1; }
    .men a img {
      width: 100%;
      height: auto; }
  .women {
    grid-template-columns: 100%;
    height: auto; }
    .women a img {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
    .women div {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
  .accesorios {
    grid-template-columns: 100%;
    height: auto; }
    .accesorios div {
      order: 2;
      margin: 25px 0px 50px 0px;
      width: 100%;
      height: auto; }
      .accesorios div a {
        order: 1; }
    .accesorios a img {
      margin: 25px 0px 25px 0px;
      width: 100%;
      height: auto; }
  .prendas {
    flex-direction: column;
    height: auto; }
    .prendas .prendas__foto {
      width: 100%;
      height: auto; }
      .prendas .prendas__foto img {
        height: auto;
        width: 100%; }
  /*About us*/
  .about__us .about__us__container h1 {
    font-size: 2.2rem;
    margin-bottom: 20px; }
  .about__us .about__us__container p {
    font-size: 1.4rem; }
  /*Galeria de fotos*/
  .productos h1 {
    font-size: 1.8rem; }
  .productos .galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
    .productos .galeria .item {
      padding: 10px; }
      .productos .galeria .item h3 {
        font-size: 18px; }
      .productos .galeria .item p {
        font-size: 16px; }
      .productos .galeria .item .link {
        font-size: 14px; }
  /*Contactos*/
  .contactos .contactos__ {
    width: 90%; }
    .contactos .contactos__ form {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contactos .contactos__ form label {
        margin-bottom: 0.5rem; }
      .contactos .contactos__ form input {
        width: 100%; }
      .contactos .contactos__ form textarea {
        width: 100%; }
      .contactos .contactos__ form button {
        width: 100%; }
  /*login*/
  .login {
    align-items: center;
    padding: 2rem;
    height: auto;
    background: no-repeat center url(../img/inicio.jpg);
    background-size: cover; }
    .login .login__ {
      width: 100%;
      height: auto;
      margin-top: 2rem; }
      .login .login__ div h1 {
        font-size: 2.5rem;
        padding-top: 1.5rem; }
      .login .login__ div div {
        width: 100%; }
        .login .login__ div div label {
          font-size: 1.2rem; }
        .login .login__ div div input {
          width: 90%;
          max-width: 100%;
          margin: 0px 2px 1rem 2px; }
  /*register*/
  .registro {
    width: 90%;
    margin: 30px auto; }
  /*pago*/
  .pago .container {
    padding: 10px; }
    .pago .container h2 {
      font-size: 20px; }
    .pago .container .payment-images {
      flex-wrap: wrap;
      justify-content: center; }
      .pago .container .payment-images img {
        width: 120px;
        margin: 10px; }
    .pago .container .payment-form label {
      font-size: 14px; }
    .pago .container .payment-form input {
      font-size: 14px; }
    .pago .container .payment-form input[type="submit"] {
      font-size: 16px; } }
