header {
    nav {
        background-color: #7F7E73;
        padding: 1rem;

        div {
            a {
                .logo {
                    height: 5rem;
                    padding-left: 1rem;

                    &:hover {
                        filter: invert(100%);
                    }
                }

                .shoppingcart {
                    height: 2.3rem;
                    padding-right: 1rem;

                    &:hover {
                        filter: invert(100%);
                    }
                }
            }

            div {
                ul {
                    li {

                        a {
                            color: #000000;
                            padding: 0.8rem;
                            margin-right: 1.2rem;
                            font-size: 1.3rem;
                            text-decoration: none;
                            font-family: 'Cardo', serif;

                            &:hover {
                                color: #fff;
                            }
                        }

                        .shopping_menu {
                            height: 2rem;
                            padding-right: 1rem;

                            &:hover {
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
        }
    }
}